
https://www.linkedin.com/jobs/search/?currentJobId=4121109113

Requirements Engineer Aviation (m/f/d)



Taking technology to the next level. Facing up to challenges and working on the innovations of tomorrow - for this, we at FERCHAU need experts like you: as someone ambitious who, like us, wants to take technology to the next level. We are involved in exciting projects for well-known customers in the aerospace industry and take on responsibility for complex development projects. Do you want to fully realise your potential? We offer you an environment with diverse tasks, new challenges and constant opportunities with which you can grow and hone your profile.  
This will be your future job
 Responsible for the creation, review and revision of requirements
 Working in the V-Model
 Collaboration with different software- and test engineer teams
 Documentation and tracability in DOORS

Your benefits at FERCHAU
 Fascinating and pioneering development of technological solutions for defense and security in the aerospace industry
 The opportunity to further develop yourself in a talented and international team
 Excellent capacity to balance your personal, family and professional commitments with flexible working time models and up to 2 mobile working days each week
 Plentiful career opportunities within our team: individual professional development in various soft and hard skills at several institutes, as well as ready-made technical career paths for long-term development prospects
 Numerous additional benefits through our BAP collective agreement including corporate benefits, as well as regular team and sports events to support a healthy work-life balance  
Your profile
 Completed studies in the field of computer science, aerospace engineering or a comparable education
 Experience in requierements engineering in accordance with the V-Model
 Knowledge of DOORS is an advantage  
Looking for the next challenge? Then we should definitely get to know each other! We look forward to receiving your application online quoting reference LI69-58052-AVMUC to Ms. Anabell Krause. Let us get to the next level together and take technology forward!